{{define "base"}}<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    {{"/css/common/bootstrap.min.css"|cssTag}}
    {{"/css/common/app.css.min"|cssTag}}
    {{template "page.css" .}}

    {{"/js/common/jquery.min.js"|jsTag}}
    {{"/js/common/bootstrap.min.js"|jsTag}}
    {{"/js/common/react.js"|jsTag}}
    {{"/js/common/react-with-addons.js"|jsTag}}

    <title>{{template "title" .}}</title>
</head>
<body>
    {{template "contents" .}}
    {{template "page.js" .}}
</body>
</html>{{end}}
