input[type="text"].error {
  color: #ff0000;
  background: #ffc8c8;
  border: solid 1px #ff0000;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-self, Verdana, Arial, Helvetica;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:visited {
  color: inherit;
}
a:hover {
  color: #ffff00;
  text-decoration: none;
}
#header {
  width: 100%;
  text-align: center;
  color: #ffffc8;
  background: rgba(200, 100, 80, 0.8);
  z-index: 500;
  /* 参考・http://kumacrow.blog111.fc2.com/blog-entry-278.html */
  text-shadow: 0 0 2px #c86450, 0 0 2px #c86450, 0 0 2px #c86450, 0 0 2px #c86450;
}
.fade-out-leave {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.fade-out-leave-active {
  opacity: 0;
}
.fade-in-enter {
  opacity: 0;
  transition: opacity 3s ease-in;
}
.fade-in-enter-active {
  opacity: 1;
}
.transition-fade-enter {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.transition-fade-enter-active {
  opacity: 1;
}
.transition-fade-leave {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.transition-fade-leave-active {
  opacity: 0;
}
.transition-from-top-enter {
  height: 0 !important;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.transition-from-top-enter-active {
  min-height: 100px !important;
  opacity: 1;
}
.transition-from-top-leave {
  top: 0px !important;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.transition-from-top-leave-active {
  top: -200px !important;
  opacity: 0;
}
.centering {
  text-align: center;
}
.images .shinhan {
  height: 65px;
}
.images .qc {
  height: 60px;
}
.LanguageChanger {
  position: absolute;
  top: 3px;
  right: 3px;
}
.LanguageChanger .language-icon {
  width: 24px;
  margin-right: 5px;
}
